{% extends "base_header.html" %}
{% block content %}
{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col"></div>
    <form method="post" class="col-md-5">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_email">Email:</label>
        <input class="form-control" type="email" name="email" maxlength="255" required="" id="id_email">
      </div>
      <div class="form-group">
        <label for="id_password1">Password:</label>
        <input class="form-control" type="password" name="password1" required="" id="id_password1">
      </div>
      <div class="form-group">
        <label for="id_password2">Password confirmation:</label>
        <input class="form-control" type="password" name="password2" required="" id="id_password2">
        <span class="form-text text-muted">Enter the same password as above, for verification.</span>
      </div>
      <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <div class="col"></div>
  </div>
</div>
{% endblock %}
