{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Informed Consent Navigator{% endblock %}</title>
    {% block header %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/form.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
