{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Informed Consent Navigator{% endblock %}</title>
    <script src="{% static 'app.js' %}" ></script>
    {% block header %}{% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <div class="navbar navbar-dark uamsred shadow-sm">
      <div class="container justify-content-between">
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img height="30" src="{% static 'core/UAMS_logo_white.png' %}">
        </a>
        <h3 class="navbar-brand text-wrap w-50">{% block header_title %}Informed Consent Navigator{% endblock %}</h3>
        <div class="nav">
          {% if user.is_authenticated %}
            {% block nav_link %}{% endblock %}
            {% if user.is_superuser %}
            <a class="nav-link text-light" href="/admin">Admin</a>
            {% endif %}
            <a class="nav-link text-light" href="/accounts/logout">Logout</a>
          {% else %}
            <a class="nav-link text-light" href="{% url 'login' %}">Login</a>
            <a class="nav-link text-light" href="{% url 'register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
