<div style="display:flex">
  <div>
    <h1>{{consent_form.study_name}}</h1>

    {% for question in questions %}
    <form action="question/{{question.pk}}" method="post">
      {% csrf_token %}
      <b>{{question.order}}</b>
      {{question.text}}
      {% if user.is_staff %}
      <br/>
      {{question.label}}
      <br/>
      {% endif %}
      {{question.form.as_p}}
      <input type="submit" name="save" value="Save">
    </form>
    {% endfor %}
  </div>
  <div>
    <h1>{{consent_form.print_dictionary.study_title}}</h1>
    <h3>Risks of Joining</h3>
    <ul>
      {% for risk in consent_form.print_dictionary.joining_risks %}
      <li>{{risk}}</li>
      {% endfor %}
    </ul>
    <h3>Aspects of Study</h3>
    <ul>
      {% for aspect in consent_form.print_dictionary.research_features %}
      <li>{{aspect}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
