{% load static %}
{% load icf_extras %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'core/print_form.css' %}">
{% endblock %}
<div class="content">

  <div class="body">

    <h2 class="underline">Biospecimen (samples) information collected in the study</h2>
    <p>Examples of biospecimens are blood, tissue, and urine.</p>

    <icf-todo>If you agree, we will collect samples from you.</icf-todo></br>
    <icf-todo>[Description of samples being collected and other details.]</icf-todo></br>
    <icf-todo>You must agree to this collection to be in the study.</icf-todo>

    <h3>What will you do with my biospecimens (for example, blood and tissue samples)?</h3>
    {% explain_text "genetic_data_centralized_databases" pd et %}

  </div>
</div>
