{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'core/print_form.css' %}">
{% endblock %}
<div class="content">
  <div class="header">
    <div class="logo">
      <img class="logo_image" src="{% static 'core/UAMS_logo_white.png' %}">
      <h4>{{pd.primary_contact.title}} {{pd.primary_contact.name}}</h4>
      <h4>{{pd.primary_contact.address}}</h4>
    </div>
    <div class="title">
      <h2>{{pd.study_title}}</h2>

      <h4><b>Have Questions?</b> Contact {{pd.primary_contact.title}} {{pd.primary_contact.name}} {{pd.primary_contact.phone_number}} {{pd.primary_contact.email}}</h4>
    </div>
  </div>
  <div class="section">
    <div>
      <h4>What is this study about?</h4>
      <p>{{pd.study_about}}</p>
    </div>
  </div>
  <div class="section gray red_top_border">
    <div>
      <h4>What will happen if I join this study?</h4>
      <p>[Insert the response from the Navigator on this key info question]</p>
    </div>
    <div>
      <h4>How much time will this take me?</h4>
      <ul>
        <li><b>Number of vists:</b> {{pd.visits_required}}</li>
        <li><b>Length of each visit:</b> {{pd.visit_length}}</li>
        <li><b>Prep time for each visit:</b> {{pd.prep_time}}</li>
      </ul>
    </div>
  </div>
  <div class="section red_borders">
    <div>
      <h3>Risks of Joining</h3>
      <ul>
        {% for risk in pd.joining_risks %}
        <li>{{risk}}</li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h3>Aspects of Study</h3>
      <ul>
        {% for aspect in pd.research_features %}
        <li>{{aspect}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
