{% load static %}
{% load icf_extras %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'core/print_form.css' %}">
{% endblock %}
<div class="content">

  <div class="body">

    <div class="break-section">
      <h2 class="underline">Information collected in the study</h2>

      <h3>What information will you collect about me?</h3>
      <p>During the study, we will need to learn private things about you, including:</p>
      <ul>
        {% list_values "information_collected_question" pd %}
        {% list_values "medical_info_collected" pd %}
        {% list_value "other_personal_info_collected" pd %}
      </ul>
    </div>
  </div>
</div>
