{% extends "base_header.html" %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
  <div class="row">
    <div class="col-6">
      <h4>Your Consent Forms</h4>
      <ul>
      {% for cf in consent_forms %}
        <li>
          <a href="{% url 'form_manage' cf.pk %}">{{cf.study_name}}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="col-6">
      <h4>Create a new form</h4>
      <form action="/form/new" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="study_name">Name for Project</label>
          <input class="form-control" type="text" name="study_name" value="" required="">
        </div>
        <button class="btn btn-primary" type="submit" name="Start">Start</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <ul>
        <li><a href="/debug/questions">Question Debug Page</a></li>
        <li><a href="/debug/json">JSON Debug Page</a></li>
      </ul>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Informed Consent Navigator</h1>
    <p class="lead">A guided questionnaire approach for building Informed Consent documents.</p>
    <hr class="my-4">
    <p>Please log in with your UAMS credentials.</p>
    <a class="btn btn-primary btn-lg" href="/accounts/login/">Login</a>
    <a class="btn btn-secondary btn-lg" href="/accounts/register/">Register</a>
  </div>
</div>
{% endif %}
{% endblock %}
