{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="section">
  <div class="logo">
    <img class="logo_image" src="{% static 'core/UAMS_logo_white.png' %}">
    <h4>[Name of PI]</h4>
    <h4>[Study Location]</h4>
  </div>
  <div class="title">
    <h1>{{pd.study_title}}</h1>
    <h3>[Other IRB required info]</h3>

    <h4><b>Have Questions?</b> Contact [Insert name & contact info]</h4>
  </div>
</div>
<div class="section">
  <div>
    <h4>What is this study about?</h4>
    <p>{{pd.study_about}}</p>
  </div>
</div>
<div class="section gray red_top_border">
  <div>
    <h4>What will happen if I join this study?</h4>
    <p>[Insert the response from the Navigator on this key info question]</p>
  </div>
  <div>
    <h4>How much time will this take me?</h4>
    <ul>
      <li><b>Number of vists:</b>[answer]</li>
      <li><b>Length of each visit:</b>[answer]</li>
      <li><b>Prep time for each visit:</b>[answer]</li>
    </ul>
  </div>
</div>
<div class="section red_borders">
  <div>
    <h3>Risks of Joining</h3>
    <ul>
      {% for risk in pd.joining_risks %}
      <li>{{risk}}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h3>Aspects of Study</h3>
    <ul>
      {% for aspect in pd.research_features %}
      <li>{{aspect}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
