
.uamsred {
  background-color: #8C1E15;
}

.navbar {
  margin-bottom: 1em;
}

@media (max-width: 700px) {
 .small_form {
    display: none;
  }
}

@media (min-width: 800px){
  #small_wrapper {
    transform: scale(.5);
    transform-origin: left top;
    width: 800px
  }
}

@media (min-width: 1350px){
  #small_wrapper {
    transform: scale(.7);
    transform-origin: left top;
    width: 800px
  }
}

@import "~bootstrap/scss/bootstrap";

@import "~trix/dist/trix.css";


trix-toolbar .trix-button-group--file-tools {
  display: none;
}

.nav-pills .nav-link.active {
  color: unset;
  background-color: unset;
  border: 1px #0d6efd solid;
}